.header{
    display:flex;
    justify-content: space-between;
    padding:20px;
    background: black;
    color: white;
    font-family: Georgia;
}
.header_section{
    display:flex;
    align-items: center;
}
.headerButton{
    padding:10px 60px;
    font-size: 20px;
    margin-left: 5px;
    font-style: italic;
}
.SignInButton{
    font-weight:bold;
    padding-bottom:55px;
    font-style:italic;
}
.headerlogo{
    font-size:40px;
    color:red;
    border: 2px solid red;
    font-family: Impact;
    padding: 0 10px 0 10px;
}
a{
    color: red;
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, serif;
    font-size:14pt;
    background: url(https://avatanplus.com/files/resources/mid/595fe14717ce815d1e87fdba.jpg) ;
}
#container{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.character{
    background-color: rgba(255,255,255,0.66);
    width: 100%;
    border: 5px solid grey;
    margin-top: 15px;
}
img{
    margin: 6px;
    display: inline-block;
    width: 200px;
}
.eventText{
    width: 75%;
    display: inline-block;
}
span{
    font-weight: bold;
    font-size: 1.5em;
}
#container a{
    color: black;
}
footer{
    text-align: center;
    background-color: black;
    color:red;
    font-style:italic;
    font-weight:bold;
    font-size:14pt;
    position:absolute;
    margin-bottom: 0;
    width:100%;
}